@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 8px;
}

.content-container {
  width: 750px;
  margin: 0 auto;
  padding: 32px;
}

.container-flex  {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.grow {
  flex-grow: 1;
}

.icon {
  color: black;
}

.backlink {
  width: 130px;
  background-color: lightblue;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  margin-top: 16px;
  border-radius: 8px;
}
